# Copy this file to .env.local and add your real Firebase credentials

# Contact Firebase
NEXT_PUBLIC_CONTACT_API_KEY=AIzaSyDjPkgu2uQ91VlS49F4z8exipxUTW8dN3U
NEXT_PUBLIC_CONTACT_AUTH_DOMAIN=jcccontact-cb074.firebaseapp.com
NEXT_PUBLIC_CONTACT_DATABASE_URL=https://jcccontact-cb074-default-rtdb.firebaseio.com
NEXT_PUBLIC_CONTACT_PROJECT_ID=jcccontact-cb074
NEXT_PUBLIC_CONTACT_STORAGE_BUCKET=jcccontact-cb074.firebasestorage.app
NEXT_PUBLIC_CONTACT_MESSAGING_SENDER_ID=541670126336
NEXT_PUBLIC_CONTACT_APP_ID=1:541670126336:web:1a99c9918ab3ddcd67b9e5

# Volunteer Firebase
NEXT_PUBLIC_VOLUNTEER_API_KEY=AIzaSyB15WuzF1bcdahZgDWU5ZHWl29M8aCsor0
NEXT_PUBLIC_VOLUNTEER_AUTH_DOMAIN=jccvolunteer-70aa5.firebaseapp.com
NEXT_PUBLIC_VOLUNTEER_DATABASE_URL=https://jccvolunteer-70aa5-default-rtdb.firebaseio.com
NEXT_PUBLIC_VOLUNTEER_PROJECT_ID=jccvolunteer-70aa5
NEXT_PUBLIC_VOLUNTEER_STORAGE_BUCKET=jccvolunteer-70aa5.firebasestorage.app
NEXT_PUBLIC_VOLUNTEER_MESSAGING_SENDER_ID=494165171848
NEXT_PUBLIC_VOLUNTEER_APP_ID=1:494165171848:web:1619d39b810b5d6f7f493d

# Blog Firebase
NEXT_PUBLIC_BLOG_API_KEY=AIzaSyAMAMHqBj0EJdYUo7zjKhisDgRaQrFGTwg
NEXT_PUBLIC_BLOG_AUTH_DOMAIN=jccblog-10034.firebaseapp.com
NEXT_PUBLIC_BLOG_DATABASE_URL=https://jccblog-10034-default-rtdb.firebaseio.com
NEXT_PUBLIC_BLOG_PROJECT_ID=jccblog-10034
NEXT_PUBLIC_BLOG_STORAGE_BUCKET=jccblog-10034.firebasestorage.app
NEXT_PUBLIC_BLOG_MESSAGING_SENDER_ID=843832039493
NEXT_PUBLIC_BLOG_APP_ID=1:843832039493:web:54930cf208329a3d9beb2c
